<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Consulta</title>

    <!-- Ícone -->
    <link rel="icon" type="image/png" th:href="@{/img/paginaicon.png}">

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">

    <!-- CSS -->
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>

    <div class="container d-flex justify-content-center align-items-center min-vh-100">

        <div class="card shadow-lg border-0 rounded-4 pet-card">

            <div class="card-header text-center text-white pet-header">
                <h1 class="fw-bold"><i class="bi bi-clipboard-pulse"></i> Consulta</h1>
            </div>

            <div class="card-body p-5">

                <form th:action="@{/consultas/salvar}" method="post" th:object="${consulta}">

                    <input type="hidden" th:field="*{idConsulta}">

                    <div class="mb-3">
                        <label>Data da Consulta</label>
                        <input type="date" th:field="*{dataConsulta}" class="form-control">
                    </div>

                    <div class="mb-3">
                        <label>Hora da Consulta</label>
                        <input type="time" th:field="*{horaConsulta}" class="form-control">
                    </div>

                    <div class="mb-3">
                        <label>Veterinário</label>

                        <select th:field="*{veterinario}" class="form-select">

                            <option value="" disabled selected>
                                Selecione o veterinário
                            </option>

                            <option th:each="veterinario : ${veterinarios}" th:value="${veterinario.idVeterinario}"
                                th:text="${veterinario.nomeVeterinario}">
                            </option>

                        </select>
                    </div>

                    <!-- É necessario colocar o campo de selecionar o animal -->

                    <div class="mb-3">
                        <label>Observação</label>

                        <textarea th:field="*{observacaoConsulta}" class="form-control" rows="3"
                        placeholder="Descreva o que o animal apresenta..."></textarea>
                    </div>

                    <div class="mb-3">
                        <label>Valor da Consulta</label>

                        <input type="number" step="0.01" th:field="*{valorConsulta}" class="form-control"
                        placeholder="Informe o valor da consulta. Ex.: 90,0">
                    </div>

                    <div class="mb-3">
                        <label>Diagnóstico</label>

                        <textarea th:field="*{diagnosticoConsulta}" class="form-control" rows="3"
                        placeholder="Informe o diagnóstico do animal..."></textarea>
                    </div>

                    <div class="mb-4">
                        <label>Tratamento</label>

                        <textarea th:field="*{tratamentoConsulta}" class="form-control" rows="3"
                        placeholder="Descreva o tratamento recomendado..."></textarea>
                    </div>

                    <div class="d-grid gap-2">

                        <button type="submit" class="btn btn-green">
                            Salvar
                        </button>

                        <a th:href="@{/consultas/listar}" class="btn btn-secondary">
                            Voltar
                        </a>

                    </div>

                </form>

            </div>
        </div>
    </div>

</body>

</html>