<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro Veterinário</title>

    <!-- Ícone da página -->
    <link rel="icon" type="image/png" th:href="@{/img/paginaicon.png}">

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- CSS -->
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>

    <div class="container d-flex justify-content-center align-items-center min-vh-100">

        <div class="card shadow-lg border-0 rounded-4 pet-card">

            <div class="card-header text-center text-white pet-header">
                <h1 class="fw-bold"><i class="bi bi-heart-pulse"></i> Veterinário</h1>
            </div>

            <div class="card-body p-5">

                <form th:action="@{/veterinarios/salvar}" method="post" th:object="${veterinario}">

                    <!-- ID oculto -->
                    <input type="hidden" th:field="*{idVeterinario}">

                    <div class="mb-3">
                        <label>Nome</label>
                        <input type="text" th:field="*{nomeVeterinario}" class="form-control"
                            placeholder="Digite o nome">
                    </div>

                    <div class="mb-3">
                        <label>CPF</label>
                        <input type="text" th:field="*{cpfVeterinario}" class="form-control mascara-cpf"
                            placeholder="000.000.000-00">
                    </div>

                    <div class="mb-3">
                        <label>Telefone</label>
                        <input type="text" th:field="*{telefoneVeterinario}" class="form-control mascara-telefone"
                            placeholder="(17) 99999-9999">
                    </div>

                    <div class="mb-3">
                        <label>CRMV</label>
                        <input type="number" th:field="*{crmvVeterinario}" class="form-control"
                            placeholder="Número do CRMV">
                    </div>

                    <div class="mb-4">
                        <label>Especialidade</label>
                        <input type="text" th:field="*{especialidadeVeterinario}" class="form-control"
                            placeholder="Ex: Cirurgia, Dermatologia...">
                    </div>

                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-green">
                            Salvar
                        </button>

                        <a th:href="@{/veterinarios/listar}" class="btn btn-secondary">
                            Voltar
                        </a>
                    </div>

                </form>

            </div>
        </div>
    </div>

    <script th:src="@{/js/mascaras.js}"></script>
</body>

</html>